<main class="flex justify-center main--slate">
  <div class="w-full">
    <div class="text-center mb-2">
      <%= image_tag "logo.svg", class: "h-14 w-auto mx-auto" %>
    </div>

    <h1 class="h2 text-center">
      Sign in to your account
    </h1>

    <div class="box box--mktg mt-6 shadow-lg max-w-md w-full mx-auto">
      <div class="box-body">
        <%= render_component "user/sign_in_form", url: sessions_path %>
      </div>
    </div>

    <div class="mt-10">
      <p class="text-gray text-center">
        Don't have an account? <%= link_to "Sign up", new_user_path %>
      </p>
    </div>
  </div>
</main>
