<%= render_component "template/slate" do |c| %>
  <% c.heading { "Oops, that link didn't work" } %>

  <% c.body do %>
    <div class="box-body f5">
      <p>
        Your password reset token has expired or is invalid.
      </p>

      <div class="mt-3">
        <p class="h5">Here's what you can do next:</p>

        <ul class="mt-2">
          <li><%= link_to "Resend password reset link", new_password_reset_path %></li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
