<%= render_component "template/slate" do |c| %>
  <% c.heading { "Let's get started by creating an account" } %>

  <% c.body do %>
    <div class="box-body">
      <%= render_component "account/new_form", model: @account %>
    </div>
  <% end %>
<% end %>
