.max-w-xs {
  max-width: 20rem !important;
}

.max-w-sm {
  max-width: 24rem !important;
}

.max-w-md {
  max-width: 28rem !important;
}

// width
.w-auto {
  width: auto !important;
}

.w-full {
  width: 100% !important;
}

.w-64 {
  width: 16rem !important;
}

.w-2 {
  width: 8px !important;
}

.w-max-content {
  width: max-content !important;
}

// height
.h-screen {
  height: 100vh !important;
}

.h-max-content {
  height: max-content !important;
}

.h-2 {
  height: 8px !important;
}

.h-14 {
  height: 56px !important;
}

// position
.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.top-0 {
  top: 0 !important;
}

.right-0 {
  right: 0 !important;
}

// border box
.border-box {
  box-sizing: border-box !important;
}

// overflow
.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-y-visible {
  overflow-y: visible !important;
}

// separator
.separator-dot {
  > :not(:first-child) {
    &::before {
      content: "\00B7";
      color: $text-gray-light;
      margin-left: $spacer-2;
      margin-right: $spacer-2;
      display: inline-block;
    }
  }
}
