// text
$text-gray-dark: $gray-900;
$text-gray: $gray-700;
$text-gray-light: $gray-600;
$text-placeholder: $gray-500;
$text-red: $red-600;
$text-blue: $blue-500;

// background
$bg-white: $white;

// border
$border-gray: $gray-200;
