<div class="content-wrapper">
  <main class="main-content main-content--fluid pb-0">
    <div class="flex flex-nowrap space-x-3">
      <%= render_component "stage/list", collection: @stages %>

      <div id="stage-new-form" data-controller="focus" class="max-w-xs w-full h-max-content flex-shrink-0 pr-9">
        <details data-controller="details" class="details-reset details-overlay details-overlay-dark">
          <summary data-action="click->focus#focusElement" class="roadmap-new-btn">
            <%= render_svg "plus" %>
            Add another stage
          </summary>

          <div class="modal box overflow-y-visible">
            <%= render_component "stage/form", model: Stage.new %>
          </div>
        </details>
      </div>
    </div>
  </main>
</div>
